<!DOCTYPE html>
<html>
<head>
<title>Parkinson Detection</title>
</head>
<body>

<h2>Parkinson Disease Detection</h2>

<form method="POST">

<label>MDVP:Fo(Hz)</label><br>
<input name="f1"><br>

<label>MDVP:Fhi(Hz)</label><br>
<input name="f2"><br>

<label>MDVP:Flo(Hz)</label><br>
<input name="f3"><br>

<label>MDVP:Jitter(%)</label><br>
<input name="f4"><br>

<label>MDVP:Jitter(Abs)</label><br>
<input name="f5"><br>

<label>MDVP:RAP</label><br>
<input name="f6"><br>

<label>MDVP:PPQ</label><br>
<input name="f7"><br>

<label>Jitter:DDP</label><br>
<input name="f8"><br>

<label>MDVP:Shimmer</label><br>
<input name="f9"><br>

<label>MDVP:Shimmer(dB)</label><br>
<input name="f10"><br>

<label>Shimmer:APQ3</label><br>
<input name="f11"><br>

<label>Shimmer:APQ5</label><br>
<input name="f12"><br>

<label>MDVP:APQ</label><br>
<input name="f13"><br>

<label>Shimmer:DDA</label><br>
<input name="f14"><br>

<label>NHR</label><br>
<input name="f15"><br>

<label>HNR</label><br>
<input name="f16"><br>

<label>RPDE</label><br>
<input name="f17"><br>

<label>DFA</label><br>
<input name="f18"><br>

<label>spread1</label><br>
<input name="f19"><br>

<label>spread2</label><br>
<input name="f20"><br>

<label>D2</label><br>
<input name="f21"><br>

<label>PPE</label><br>
<input name="f22"><br><br>

<input type="submit" value="Predict">

</form>

<h3>{{ result }}</h3>

</body>
</html>
