<!DOCTYPE html>
<html>
<head>
<title>Fraud Detection</title>
</head>
<body>

<h2>Credit Card Fraud Detection</h2>

<form method="POST">

<label>V14</label><br>
<input name="v1"><br>

<label>V12</label><br>
<input name="v2"><br>

<label>V10</label><br>
<input name="v3"><br>

<label>V17</label><br>
<input name="v4"><br>

<label>V11</label><br>
<input name="v5"><br>

<label>V16</label><br>
<input name="v6"><br>

<label>V4</label><br>
<input name="v7"><br>

<label>V3</label><br>
<input name="v8"><br>

<label>V7</label><br>
<input name="v9"><br>

<label>Amount</label><br>
<input name="v10"><br><br>

<input type="submit" value="Predict">
</form>

<h3>{{ result }}</h3>

</body>
</html>
